<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatSaberQuestSongloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BeatSaberQuestSongloader.Properties.Settings>
            <setting name="AvailableSongsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SongsToLoadFolder" serializeAs="String">
                <value>.\SongsToLoad\</value>
            </setting>
            <setting name="JARSIGNERLOC_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="ADB_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="apktool_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="songeconverter_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="BeatMapAssetMaker_Folder" serializeAs="String">
                <value>.\tools\</value>
            </setting>
            <setting name="apkFolder" serializeAs="String">
                <value>.\apk\</value>
            </setting>
            <setting name="assetsFolder" serializeAs="String">
                <value>.\assets\</value>
            </setting>
            <setting name="backupFolder" serializeAs="String">
                <value>.\backup\</value>
            </setting>
        </BeatSaberQuestSongloader.Properties.Settings>
    </userSettings>
</configuration>